#md {
  width: 50%;
}

.nav-container {
  max-height: 100vh;
  overflow-y: scroll;
}

.graph-container {
  border: 1px solid #ddd;
  height: 480px;
}

.page-link {
  border: none;
  text-align: left;
}
