fieldset {
  border: 1px dotted #000;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

legend {
  display: inline;
  font-size: 110%;
  width: auto;
}

.nav-container {
  max-height: 100vh;
  overflow-y: scroll;
}

.graph-container {
  border: 1px solid #ddd;
  height: 480px;
}

.page-link {
  border: none;
  text-align: left;
}

